{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

    <h2>Log In</h2>
    
    {% if messages %}
        {% for message in messages %}
         <div class="alert alert-{{ message.tags }}">
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
    </form>
    
    {% if request.session.login_attempts >= 3 %}
        Did you forget your password ? Click <a href="{% url 'password_reset' %}">here</a> to reset it.
    
    {% endif %}

{% endblock content %}