{% extends 'base.html' %}

{% block title %}Your Activities{% endblock %}

{% block content %}

    {% for activity in activities %}
      <p>
        {{ activity.activity.name }} 
        (Total Activity Score: {{ activity.total_score }})
        <a href="{% url 'activity_update' activity.activity.id %}">Edit</a>
        <a href="{% url 'activity_delete' activity.activity.id %}">Delete</a>
      <br>
      </p>
    {% endfor %}

    <a href="{% url 'activity_create' %}">Add New Activity</a>

{% endblock content %}