<!DOCTYPE html>
<html lang='en'>
<head>
    <title>What To Do App</title>
    <meta charset="utf-8">
</head>
<body>

    <nav>
    <form method="GET" action="{% url 'home' %}" style="display: inline;">
        <button type="submit">Home</button>
    </form> |
    {% if user.is_authenticated %}
        <form method="GET" action="{% url 'user-update' %}" style="display: inline;">
            <button type="submit">Profile</button>
        </form> |
        <form method="GET" action="{% url 'activity_list' %}" style="display: inline;">
            <button type="submit">Activities</button>
        </form> |
        <form method="GET" action="{% url 'current_day' %}" style="display: inline;">
            <button type="submit">Current Day</button>
        </form> |
        <form method="GET" action="{% url 'week' %}" style="display: inline;">
            <button type="submit">Current Week</button>
        </form> |
        <form method="GET" action="{% url 'summary-detail' %}" style="display: inline;">
            <button type="submit">Day Summaries</button>
        </form> |
        <form method="GET" action="{% url 'range-summary-view' %}" style="display: inline;">
            <button type="submit">PDF reports</button>
        </form> |
        <form method="GET" action="{% url 'chatbot' %}" style="display: inline;">
            <button type="submit">AI Assistant</button>
        </form> |
        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form> |
    {% else %}
        <form method="GET" action="{% url 'login' %}" style="display: inline;">
            <button type="submit">Login</button>
        </form> |
        <form method="GET" action="{% url 'signup' %}" style="display: inline;">
            <button type="submit">Sign Up</button>
        </form> |
    {% endif %}
</nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>Copyright &copy; 2024 Marcin Sak</p>
    </footer>
</body>
</html>