{% extends 'base.html' %}

{% block title %}Chatbot{% endblock %}

{% block content %}

<h1>AI Assistant</h1>
    
{#    <div class="info-box">#}
{#        <h2>Welcome to our AI Assistant!</h2>#}
{#        <p>You can ask the assistant for suggestions on new activities. For example, try asking "Suggest me some new hobbies to try out".</p>#}
{#    </div>#}
    
    <form method="post">
        {% csrf_token %}
            <label for="clear">Press button to clear session:</label>
        <button type="submit" name="clear">Clear session</button>
    </form>

<div>
    {% for message in messages %}
        <p>
            <strong>{{ message.role }}:</strong> {{ message.content }}
        </p>
    {% endfor %}
</div>

<form method="post">
    {% csrf_token %}
    <label for="message">Your message:</label>
    <input id="message" type="text" name="message">
    <button type="submit">Send</button>
</form>



{% endblock content %}