{% extends 'base.html' %}

{% block title %}Selected Day{% endblock %}

{% block content %}

    <div style="display: flex; justify-content: space-around; align-items: center">
        <a href="{% url 'day' previous_day|date:'Y-m-d' %}">Previous day</a>
        <h1>{{ current_day_of_week }} - {{ today }}
            {% if current_day_status %}({{ current_day_status }}){% endif %}</h1>
        <a href="{% url 'day' next_day|date:'Y-m-d' %}">Next day</a>
    </div>
    

    <h2>Selected day's activities:</h2>

    {% if activities %}
   <table>
    <thead>
    <tr>
        <th>Activity</th>
        <th>Comment</th>
        <th>Duration</th>
        <th>Emotions</th>
        <th>Operations</th> <!-- New column header for Edit and Delete -->
    </tr>
</thead>
<tbody>
    {% for activity in activities %}
        <tr>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.comment }}</td>
            <td>{{ activity.duration }}</td>
            <td>
                {% for user_activity_emotion in activity.useractivityemotion_set.all %}
                    Emotion: {{ user_activity_emotion.emotion.name }}<br>
                    Intensity: {{ user_activity_emotion.intensity }}<br>
                {% endfor %}
                <button class="add-emotion" data-activity-id="{{ activity.id }}">Add Emotion</button><!-- Moved Add Emotion button here -->
            </td>
            <td>
                <a href="{% url 'activity_event_update' activity.id %}">Edit</a> /
                <a href="{% url 'activity_event_delete' activity.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
        {% else %}
        <p>No activities added for selected day.</p>
    {% endif %}

{#    <h2>User Activity Emotion Form</h2>#}
{#    <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ user_activity_emotion_form.as_p }}#}
{#    <button type="submit">Submit</button>#}
{#    </form>#}

    <h2>Add new activity to the selected day:</h2>

    <form method="post">
    {% csrf_token %}
    {{ activity_event_form.as_p }}
    <button type="submit">Add activity to the selected day</button>
    </form> <br>

    Or create a <a href="{% url 'activity_create' %}" class="btn">New activity</a>
    
    <h2>Summary of the day</h2>
    <form method="GET">
    {% csrf_token %}
    <button type="submit" name="request_summary">Generate Summary</button>
    </form>

    {% if summary %}
    <p><bold>Summary:</bold> {{ summary }}</p>
    {% endif %}
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
    var buttons = document.querySelectorAll('.add-emotion');
    buttons.forEach(function(button) {
        button.addEventListener('click', function (e) {
            var activityID = e.target.getAttribute('data-activity-id');
            window.location.href = '/add_emotion/' + activityID + '/'
        });
    });
    </script>

{% endblock content %}