{% extends 'base.html' %}

{% block title %}Selected Day{% endblock %}

{% block content %}

    <div style="display: flex; justify-content: space-around; align-items: center">
        <a href="{% url 'day' previous_day|date:'Y-m-d' %}">Previous day</a>
        <h1>{{ current_day_of_week }} - {{ today }}</h1>
        <a href="{% url 'day' next_day|date:'Y-m-d' %}">Next day</a>
    </div>
    

    <h2>Selected day's activities:</h2>

    {% if activities %}
   <table>
    <thead>
        <tr>
            <th>Activity</th>
            <th>Comment</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.activity }}</td>
                <td>{{ activity.comment }}</td>
                <td>{{ activity.duration }}</td>
                <td><a href="{% url 'activity_event_delete' activity.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
        {% else %}
        <p>No activities added for selected day.</p>
    {% endif %}

    <h2>Add new activity to the selected day:</h2>

    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add activity to the selected day</button>
    </form> <br>

    <a href="{% url 'activity_create' %}" class="btn">Or create a new activity</a>

{% endblock content %}