
{% extends 'base.html' %}

{% block content %}
<h1>Select Date Range for Summary Report</h1>
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
   
<form method="get" action="{% url 'range-summary-view' %}">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date" value="{{ request.GET.start_date }}" required>

    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" value="{{ request.GET.end_date }}" required>

    <button type="submit">Show Summaries</button>
</form>

{% if summaries %}
    <h2>Summaries from {{ start_date|date:"Y-m-d" }} to {{ end_date|date:"Y-m-d" }}</h2>
    <ul>
    {% for summary in summaries %}
        <li>{{ summary.date }}: {{ summary.summary }}</li>
    {% endfor %}
    </ul>
    <a href="{% url 'range-summary-pdf' start_date|date:'Y-m-d' end_date|date:'Y-m-d' %}" target="_blank">Generate PDF</a>
{% endif %}
    
     {% if message %}
        {{ message }}
    {% endif %}
{#{% if error %}#}
{#<p style="color: red;">{{ error }}</p>#}
{#{% endif %}#}

{% endblock %}