{% extends 'base.html' %}

{% block title %}Week View{% endblock %}

{% block content %}
<h1>Week View: {% if is_current_week %}Current Week{% else %}{{ start_week }} - {{ end_week }}{% endif %}</h1>
    
    <style>
    th {
        width: 14.28%;  /* 100% / 7 days, ensures equal width for all days */
        text-align: center;  /* Center alignment of text */
    }
</style>
    
    <div class="week-navigation">  <!-- New div for week navigation -->
    <a href="{% url 'week_view' date=prev_week %}">Previous Week</a>
    |
    <a href="{% url 'week_view' date=next_week %}">Next Week</a>
</div>
    
<table>
    <thead>
    <tr>
        {% for date, activities in week_dates_with_activities %}
        <th>{{ date|date:"l" }}</th> <!-- Day of the week -->
        {% endfor %}
    </tr>
    <tr>
        {% for date, activities in week_dates_with_activities %}
        <th>{{ date|date:"F j, Y" }}</th> <!-- Date -->
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for date, activities in week_dates_with_activities %}
        <td>
            <ul>
                {% for activity in activities %}
                    <li>{{ activity.activity }}</li>
                {% empty %}
                    <li>No activities added for this day.</li>
                {% endfor %}
            </ul>
            <a href="{% url 'day' date=date %}">Go to Day View</a>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% endblock %}